:root {
  --background: #fdfbf7;
  --foreground: #1c1917;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
}
